<div class="flex-column">
  <div class="flex-row">
    <div class="div-80">Qty Pur.</div>
    <div class="div-80 div-number"><%= album.nb_item_purchased() %></div>
  </div>
  <div class="flex-row">
    <div class="div-80">Total</div>
    <div class="div-80 div-number"><span>£</span><%= album.total_amount_purchased() %></div>
  </div>
  <div class="flex-row">
    <div class="div-80">Nb. Sup.</div>
    <div class="div-80 div-number"><%= album.nb_distinct_suplliers() %></div>
  </div>
</div>
