<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Keith's Music Store</title>
    <link href="/style/css/normalize.css"  rel="stylesheet">
    <link href="/style/css/reset.css"      rel="stylesheet">
    <link href="/style/css/style.css"      rel="stylesheet">
  </head>
  <body>


    <div class="layout_main">
      <%= yield %>
    </div>
  </body>
</html>
